/* STYLING THE WEBPAGE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
background: url(https://images.unsplash.com/photo-1603665143615-4b7cafb5366b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
/* AUTHOR: Unsplash, @pawel_czerwinski, https://unsplash.com/photos/A3DyYLGO0kQ */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:root{
    --main-colour: #800080;
    --sub-colour: #e000e0;
    --last-colour: #ffa0ff;
}

.container {
    background: rgba(250, 250, 250, 0.6); 
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    width: 60vh;
    margin: 50px 0;
}

h1, h2{
    text-align: center;
    margin: 0 0 10px;
}

nav{
    margin: auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
nav button {
    margin: 5px 0;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
nav button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #000;
    /* x offset, y offset, blur radius, spread radius */
    transform: translateY(-0.25em); /* negative value moves it upwards*/
    cursor: pointer;
}

.chatArea{
    height: 600px;
    overflow: scroll;
    margin: 10px 0;
}

ul {
    display: block;
    position: relative;
    margin: 10px;
}
ul li {
    word-wrap: break-word;
    width: 55%; 
    background: linear-gradient(135deg, rgba(138,147,238,1) 0%, rgba(210,212,233,1) 57%);
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    list-style-type: none;
}

ul li i {
    float: right;
}

.goRight{
    background: linear-gradient(135deg, rgba(246,215,231,1) 0%, rgba(243,200,220,1) 33%, rgba(240,150,188,1) 69%);
    float: right;
    border-top-right-radius: 0;
}

.goLeft{
    float: left;
    border-top-left-radius: 0;
}

hr{
    margin: 5px 0;
    border-width: 0;
    height: 1px;
}

.btn{
    background-color: var(--main-colour);
    color: white;
    border: 0;
    width: 200px;
    height: 35px;
    letter-spacing: 1px;
}

.btn:hover{
    background-color: white;
    color: var(--main-colour);
}

form {
    display: flex;
    margin: 5px auto;
    position: relative;
}

input:focus{
    outline: 0;
    border-color: var(--main-colour);
}
input:hover{
    outline: 0;
    border-color: var(--sub-colour);
}

input[type='text'], [type='textarea'] {
    height: 35px;
    width: 300px;
}
input[type='datetime-local']{
    height: 35px;
    width: 150px;
}
input[type='submit']{
    margin-left: 5px;
}
input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
    background-color: transparent;
}
input[type='color']::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}
input[type='color']::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

#submitColour{
    border-radius: 25px;
}

small{
    text-align: center;
    color: var(--main-colour);
    visibility: hidden;
}