*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}
body{
    background-color: #9F76B2;
    color: #483248;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h1{
    color: #5D071C;
    text-align: center;
}
span{
    color: orange;
}
img{
    width: 400px;
    height: 300px;
    border: 7px #5D071C dotted;
}