*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.row{
    width: 100%;
    overflow: hidden;
}

[class*="col-"] {
    float: left;
}

/* za mobilne uredjaje */
@media only screen and (max-width: 999px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* za desktop */
@media only screen and (min-width: 1000px) {
    .col-1 { 
        width: calc(100% / 12); 
    }
    .col-2 { 
        width: calc(100% / 12 * 2); 
    }
    .col-3 { 
        width: calc(100% / 12 * 3); 
    }
    .col-4 { 
        width: calc(100% / 12 * 4); 
    }
    .col-5 { 
        width: calc(100% / 12 * 5); 
    }
    .col-6 { 
        width: calc(100% / 12 * 6); 
    }
    .col-7 { 
        width: calc(100% / 12 * 7); 
    }
    .col-8 { 
        width: calc(100% / 12 * 8); 
    }
    .col-9 { 
        width: calc(100% / 12 * 9); 
    }
    .col-10 { 
        width: calc(100% / 12 * 10); 
    }
    .col-11 { 
        width: calc(100% / 12 * 11); 
    }
    .col-12 { 
        width: 100%; 
    }
}

/* drugi nacin za odredjivanje sirine kolona

.col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.33%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    */

/* bojenje elemenata */
header{
    background-color: mediumspringgreen;
}

nav{
    background-color: yellow;
}

section{
    background-color: peru;
}

aside{
    background-color: orange;
}

footer{
    background-color: olive;
}