*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#rest{
    position: relative;
    top: 45px;
}

  /* Horizontalni meni */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav ul {
    overflow: hidden;
    list-style-type: none;
}

nav ul li{
    float: left;
    background-color: rgb(58, 58, 58);
    border: 2px solid rgb(255, 255, 255);
    width: calc(100%/4); /*automatski ga on podeli na 4 deli po duzini*/
    text-align: center;
}

nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

nav ul li a:hover{
    background-color: firebrick;
}

/* padajuci meni */
.submenu{
    display:none;
}

.dropdown:hover .submenu{
    display:block;
}



/*za header*/
header{
    background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0)), url('/07_POZICIONIRANJA/Vezba1/Images/lego_pizza.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
header h1{
    color: white;
    /* centriran u odnosu na header */
    position: absolute;
top: 50%;
left: 50%; 
transform: translate(-50%, -50%);
}
