*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 18px;
}
.row{
    width: 100%;
    overflow: hidden;
}
header{
    background-color: cyan;
    text-align: center;
}

nav ul{
    list-style-type: none;
    float: left;
    width: 100%;
}
nav ul li{
    background-color: rgb(4, 194, 194);
    height: 30px;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    background-color: greenyellow;
}
section{
    width: 100%;
    background-image: linear-gradient(rgb(4, 194, 194), white);
    float: left;
}

.row img{
    width: calc(100%/3);
    float: left;
}
footer{
    background-color: cyan;
    text-align: center;
}







/* za mobilne uredjaje */
@media only screen and (max-width: 999px) {
    [class*="col-"] {
        width: 100%;
    }
    .row img{
        width: 100%;
    }
}


/* za desktop */
@media only screen and (min-width: 1000px) {
    .col-1 { 
        width: calc(100% / 12); 
    }
    .col-2 { 
        width: calc(100% / 12 * 2); 
    }
    .col-3 { 
        width: calc(100% / 12 * 3); 
    }
    .col-4 { 
        width: calc(100% / 12 * 4); 
    }
    .col-5 { 
        width: calc(100% / 12 * 5); 
    }
    .col-6 { 
        width: calc(100% / 12 * 6); 
    }
    .col-7 { 
        width: calc(100% / 12 * 7); 
    }
    .col-8 { 
        width: calc(100% / 12 * 8); 
    }
    .col-9 { 
        width: calc(100% / 12 * 9); 
    }
    .col-10 { 
        width: calc(100% / 12 * 10); 
    }
    .col-11 { 
        width: calc(100% / 12 * 11); 
    }
    .col-12 { 
        width: 100%; 
    }
}